.hidden {
  display: none;
}

.dflexC{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dflexSB{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRow{
  flex-direction: row;
}

.flexCol{
  flex-direction: column;
}

.w100{
  width: 100%;
}

.btn{
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 50px;
}

.temp{
  background-color: darkgray;
}

.input-err{
  border: 1px solid red;
  box-shadow: 0 0 4px red inset;
}